#slice
{
    width: 30%;
}
#slice2
{
    width: 30%;
}
#slice3
{
    width: 30%;
}
#slice4
{
    width: 30%;
}
#slice5
{
    width: 30%;
}
#slice6
{
    width: 30%;
}
#slice7
{
    width: 30%;
}
#slice8
{
    width: 30%;
}